@charset "UTF-8";
@font-face {
	font-family: 'fz';
	src: url('font/fz.eot');
	src: local('fz'), url('font/fz.woff') format('woff'), url('font/fz.ttf') format('truetype'), url('font/fz.svg#webfontW8TwLcf2') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	color: #fff;
	font-family: 'fz','KaiTi','Microsoft YaHei','Times New Roman', serif;
}
body,section,p,article,ul,ol,nav,footer,header,img,h1,h2,h3{
	padding: 0;
	margin: 0;
	border: 0;
}
a,a:hover,a:focus{
	text-decoration:none;
}

#menu{
	padding:20px;
	transition:all 0.5s;
}
#menu.navbar-default{
	background-color:rgba(248, 248, 248, 0);
	border-color:rgba(231, 231, 231, 0);
}
#menu a.navbar-brand{
	font-size:30px;
	font-weight:900;
	color:#fff;
	padding: 0;
}
#menu.navbar-default .navbar-nav > li > a{
	font-size:22px;
	letter-spacing:1px;
	color:#2b4448;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: transparent;
}
.on{
	background-color:#199475 !important;
	padding: 0px !important;
}

.gradient{
	background-image:url("img/bg1.jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	color:#cfcfcf;
}
#page1 .overlay {
	background: -moz-linear-gradient(top, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(15,148,117,1)), color-stop(37%, rgba(15,148,117,0.98)), color-stop(55%, rgba(15,148,117,0.8)), color-stop(72%, rgba(15,148,117,0.7)), color-stop(100%, rgba(15,148,117,0.4)));
    background: -webkit-linear-gradient(top, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    background: -o-linear-gradient(top, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    background: -ms-linear-gradient(top, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    background: linear-gradient(to bottom, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
	height: 100vh;
}
#page1 .me{
	padding-top: 20vh;
}
#page1 .me img{
	width: 290px;
	height: 290px;
	border-radius: 50%;
	border: 10px solid rgba(255,255,255,0.3);
}
#page1 .img img:hover{
		box-shadow:0px 10px 2px 0px rgba(15,148,117,0.5), 0px 290px 0px 5px rgba(255,255,255,0.1),0px 5px 10px 5px rgba(255,255,255,0.1),0px 283px 25px 5px rgba(255,255,255,0.1),0px 280px 0px 5px rgba(115,242,210,0.1);
}
#page1 .text{
	color:#e3e3e3;
	position:relative;
	padding:50px 0 0 0;
}
#page1 .text h1{
	font-family: 'Microsoft YaHei';
	font-size: 40px;
	padding-bottom: 20px;
}
#page1 .text strong{
	font-size: 30px;
	opacity: 0.5;
}
#page1 .text p{
	font-family: 'Microsoft YaHei';
	padding-top: 20px;
}
#page2{
	background: transparent;
	background: -moz-linear-gradient(bottom, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(15,148,117,1)), color-stop(37%, rgba(15,148,117,0.98)), color-stop(55%, rgba(15,148,117,0.8)), color-stop(72%, rgba(15,148,117,0.7)), color-stop(100%, rgba(15,148,117,0.4)));
    background: -webkit-linear-gradient(bottom, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    background: -o-linear-gradient(bottom, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    background: -ms-linear-gradient(bottom, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    background: linear-gradient(to top, rgba(15,148,117,1) 0%, rgba(15,148,117,0.98) 37%, rgba(15,148,117,0.8) 55%, rgba(15,148,117,0.7) 72%, rgba(15,148,117,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
}
#page2 ul.type li{
    display: inline-block;
    margin-left: 20px;
}
#page2 ul.pull-right {
    margin-top: 10px;
}
#page2 ul.type li a.active {
    font-weight: 700;
}
#page2 ul.type li a {
    color: #e3e3e3;
    font-family: 'Microsoft YaHei';
}
#page2 ul.type li:after {
    content: ' | ';
    margin-left: 20px;
}
#page2 ul.type li:last-child:after {
    content: '';
}
.categories {
    padding: 10px 0;
}
.portfolio-item {
    margin-bottom: 30px;
}
.portfolio-item .hover-bg {
    height: 260px;
    overflow: hidden;
    position: relative;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
}
.section-title{
	margin: 100px auto 20px;
}
.section-title h2{
	font-weight: 400;
	font-size: 34px;
	line-height: 40px;
	margin: 0;
	color: #fff;
}
.section-title .line {
    border-top: 4px solid #80dfd9;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
	margin-bottom:30px;
	transition: 0.5s ease-out;
}
.section-title hr {
    border-top: 4px solid rgba(252, 172, 69, 0.34);
    width: 40px;
    text-align: center;
    margin-top: 10px;
}
.section-title:hover .line{
	width: 35vw;
	transition: 0.8s ease-in-out;
}
.section-title p{
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
    font-family: 'Microsoft YaHei';
}
.section-title strong{
	font-family: 'Microsoft YaHei';
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
}
#page3,#page4,#page5{
	background-color: #199475;
}
#page3 .box{
	width:200px;
	height:300px;
	position:relative;
	margin:100px auto 200px;
	transform-style:preserve-3d;
	transform:rotateX(-10deg);
	animation: fn 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: relative
}
#page3 .box:hover{
	animation-play-state: paused;
}
#page3 .box>div{
	width:200px;
	height:300px;
	background-color: #199475;
	background-image: -webkit-linear-gradient(#224f44, #199475);
	background-image: -moz-linear-gradient(#224f44, #199475);
	background-image: linear-gradient(#224f44, #199475);
	border: 5px solid #199475;
	border-image: -webkit-linear-gradient(#ef4714,#199475) 10 10;
	border-image: -moz-linear-gradient(#ef4714,#199475) 10 10;
	border-image: linear-gradient(#ef4714,#199475) 10 10;
	position: absolute;
	left:0;
	top:0;			
}
	#page3 .box div:nth-of-type(1){
		transform: rotateY(40deg) translateZ(275px);
	}
	#page3 .box div:nth-of-type(2){
		transform: rotateY(80deg) translateZ(275px);
	}
	#page3 .box div:nth-of-type(3){
		transform: rotateY(120deg) translateZ(275px);
	}
	#page3 .box div:nth-of-type(4){
		transform: rotateY(160deg) translateZ(275px);
	}
	#page3 .box div:nth-of-type(5){
		transform: rotateY(200deg) translateZ(275px);
	}
	#page3 .box div:nth-of-type(6){
		transform: rotateY(240deg) translateZ(275px);
	}
	#page3 .box div:nth-of-type(7){
		transform: rotateY(280deg) translateZ(275px);
	}
	#page3 .box div:nth-of-type(8){
		transform: rotateY(320deg) translateZ(275px);
	}
	#page3 .box div:nth-of-type(9){
		transform: rotateY(360deg) translateZ(275px);
	}

#page3 .box>div h4{
	text-align: center;
	padding-top: 50px;
}
@keyframes fn{
				0% {
					transform:rotateX(-15deg) rotateY(0deg);
				}
			    100%{
			    	transform:rotateX(-15deg) rotateY(360deg);
			    }

			}
			@-moz-keyframes fn{
				0% {transform:rotateX(-15deg) rotateY(0deg);}
			    100%{transform:rotateX(-15deg) rotateY(360deg);}
			}
			@-ms-keyframes fn{
				0% {transform:rotateX(-15deg) rotateY(0deg);}
			    100%{transform:rotateX(-15deg) rotateY(360deg);}
			}
			@-webkit-keyframes fn{
				0% {transform:rotateX(-15deg) rotateY(0deg);}
			    100%{transform:rotateX(-15deg) rotateY(360deg);}
			}
#page4 .overlay{
	background: url(img/bg4.jpg) no-repeat left center;
	background-attachment: fixed;
	-webkit-background-size: 50% 100%;
	background-size: 50% 100%;
}
#page4 .section-title h2{
	color: #2b4448;
}
#page4 .section-title strong{
	color: #fff;
}
#page4 .text p{
	display: inline-block;
	font-size: 20px;
}
#page4 .text img{
	width: 100px;
	border-radius: 6px;
	vertical-align: middle;
	margin-left: 50px;
	margin-right: 100px;
}
#page4 .text{
	padding: 50px 0 150px;
}
#page4 .text .step{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-align-items: center;
    align-items: center;
	margin-bottom: 20px;
}
#page5{
	height:100vh;
}
#page6{
	height: 100vh;
	background: -webkit-linear-gradient(to right,#74ebd5,#acb6e5);
	background: -o-linear-gradient(to right,#74ebd5,#acb6e5);
	background: -moz-linear-gradient(to right,#74ebd5,#acb6e5);
	background: linear-gradient(to right,#74ebd5,#acb6e5);
}
footer #top-btn span{
	width: 20px;
	height: 20px;
	border: 5px solid #fff;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-radius: 5px;
	position: fixed;
	bottom: 0;
	right: 20px;
	transform: rotate(45deg);
	filter:drop-shadow(5px 5px 5px black); 
}